/*CONTACT page bckg*/

main#contactBckg {                                              
    background-image: url(../public/SD08.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}